$pallette: (
    'primary': #202020,
    'secondary': #474747,
    'third': #fffdfd,
    'fourth': rgba(13, 13, 13, 0.168),
    'fifth': wheat,
);

$font-weight: (
    "regular": 400,
    "medium": 500,
    "bold": 700,
);

$titles: 16, 20, 24, 32;