$pallette: (
    'frio1': #005F73,
    'frio2': #0A9396,
    'frio3': #94D2BD,
    'calido1': #E9D8A6,
    'calido2': #EE9B00,
    'calido3': #CA6702,
    'comp1': #BB3E03,
    'comp2': #AE2012,
    'comp3': #9B2226,
    'bg': #001219,
);

$font-weight: (
    "regular": 400,
    "medium": 500,
    "bold": 700,
);

$titles: 16, 20, 24, 32;